language: php

php:
  - '5.5'
  - '5.6'
  - '7.0'

sudo: false

before_install:
  - travis_retry composer self-update

install:
  - travis_retry composer install --no-interaction --prefer-dist

script: vendor/bin/phpunit
