# WARNING: DO NOT ADD ANY EXCLUSION. THE ONES ALREADY HERE ARE FOR THE LEGACY CODE.
parameters:
    level: 6
    paths:
        - src
        - tests
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        -
            message: '~^Variable method call on ~'
            path: src/Database/Query.php

        -
            message: '~^Variable method call on ~'
            path: src/Database/Statement.php

        -
            message: '~^Variable method call on ~'
            path: src/Etl.php

        -
            message: '~^Variable property access on ~'
            path: src/Row.php

        -
            message: '~^Variable property access on ~'
            path: src/Step.php
        -
            message: '~^Dynamic call to static method XMLReader::open\(\)\.~'
            path: src/Extractors\Xml.php
        -
            message: '~Variable method call on Wizaplace\\Etl\\Step\.~'
            path: tests/TestCase.php
        -
            message: '~Access to an undefined property Wizaplace\\Etl\\Row::\$name\.~'
            path: tests/RowTest.php
