#!/bin/sh

# If you want to allow non-ASCII filenames set this variable to true.
allownonascii=$(git config --type=bool hooks.allownonascii)

if git rev-parse --verify HEAD >/dev/null 2>&1
then
	against=HEAD
else
	# Initial commit: diff against an empty tree object
	against=$(git hash-object -t tree /dev/null)
fi

# Redirect output to stderr.
exec 1>&2

# Cross platform projects tend to avoid non-ASCII filenames; prevent
# them from being added to the repository. We exploit the fact that the
# printable range starts at the space character and ends with tilde.
if [ "$allownonascii" != "true" ] &&
	# Note that the use of brackets around a tr range is ok here, (it's
	# even required, for portability to Solaris 10's /usr/bin/tr), since
	# the square bracket bytes happen to fall in the designated range.
	test $(git diff --cached --name-only --diff-filter=A -z $against |
	  LC_ALL=C tr -d '[ -~]\0' | wc -c) != 0
then
	cat <<\EOF
Error: Attempt to add a non-ASCII file name.

This can cause problems if you want to work with people on other platforms.

To be portable it is advisable to rename the file.

If you know what you are doing you can disable this check using:

  git config hooks.allownonascii true
EOF
	exit 1
fi

if [ "$(git diff --cached --name-only --diff-filter=ACMR $against | grep '[.]php' | grep ' ')" != '' ]
then
    echo 'PHP file names should not contain spaces.'
    git diff --cached --name-only --diff-filter=ACMR $against | grep '[.]php' | grep ' '
    echo "Fix the error before commit!"
    exit 1
fi

if [ "$(git diff --cached --name-only --diff-filter=ACMR $against | grep '[.]php')" != "" ]
then
    echo "Running PHP-CS-fixer."
    config=.php_cs$(test -f .php_cs || printf .dist)
    git diff --cached --name-only --diff-filter=ACMR $against | grep '[.]php' | \
        xargs ./vendor/bin/php-cs-fixer fix -v --using-cache=no --dry-run --allow-risky=yes --config=$config
    if [ $? != 0 ]
    then
        echo "Fix the error before commit!"
        exit 1
    fi
    echo "Running PHPStan level 6."
    git diff --cached --name-only --diff-filter=ACMR $against | grep '[.]php' | \
        xargs ./vendor/bin/phpstan --memory-limit=256M analyze
    if [ $? != 0 ]
    then
        echo "Fix the error before commit!"
        exit 1
    fi
fi

if [ "$(git diff --cached --name-only --diff-filter=ACMR $against | grep '[.]php')" != "" ]
then
    echo "Running Code Sniffer for src."
    git diff --cached --name-only --diff-filter=ACMR $against | grep --null '[.]php' | tr \\n \\0 | \
        xargs -0 ./vendor/bin/phpcs
    if [ $? != 0 ]
    then
        echo "Fix the error before commit!"
        exit 1
    fi
fi
