<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="PHP-ETL" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../vendor/squizlabs/php_codesniffer/phpcs.xsd">
  <description>PSR12 Code Sniffer Profile, excluding NotCamelCaps.</description>

  <arg name="encoding" value="utf-8"/>
  <arg name="basepath" value="."/>
  <arg name="colors"/>
  <arg value="s"/>

  <rule ref="PSR1">
    <exclude name="PSR1.Methods.CamelCapsMethodName.NotCamelCaps"/>
  </rule>
  <rule ref="PSR12"/>
  <rule ref="Generic.PHP.Syntax"/>

  <file>.</file>
</ruleset>
